{% extends 'base.html' %}

{% from 'macros.html' import event_info, paginate %}

{% block content %}
  <div class="row">
    <div class="span12">
      <ul class="event-list">
        {% for event in events %}
          <li class="row event">
            {{ event_info(event.start, event.location.name) }}
            <div class="description span">
              <h3 class="title">
                <a href="{{ event.get_absolute_url() }}">{{ event.name }}</a>
              </h3>
              {{ event.summary }}
              <p><a href="{{ event.get_absolute_url() }}">Read more</a></p>
            </div>
          </li>
        {% endfor %}
      </ul>

      {{ paginate(url('events.list'), page_obj, paginator) }}
    </div>
  </div>
{% endblock %}
