{% extends 'base.html' %}

{% from 'macros.html' import paginate %}

{% block content %}
  <div class="row">
    <div class="span12">
      <ul class="events">
        {% for event in events %}
          <li>
            <h2><a href="{{ event.get_absolute_url() }}">{{ event.name }}</a></h2>
            <p><strong>Location:</strong> {{ event.location.name }}</p>
            <p>{{ event.summary }}</p>
          </li>
        {% endfor %}
      </ul>

      {{ paginate(url('trephub.events.list'), page_obj, paginator) }}
    </div>
  </div>
{% endblock %}
