#about section {
  margin-top: 40px;
}
#about .initiatives {
  text-align: center;
}
#about .initiatives .symbol {
  height: 100px;
  line-height: 100px;
}
#about .adr {
  margin-bottom: 20px;
}
#about .adr .name {
  font-weight: bold;
}
