/* Colors ******/
/* Base ******/
html,
body {
  height: 100%;
}
body {
  color: #34495e;
  background: #ecf0f1;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
}
a {
  color: #6285a8;
  text-decoration: underline;
}
/* Header ******/
.jumbotron {
  color: #ecf0f1;
  background: url('/static/img/jumbotron.png');
  height: 100px;
  margin-bottom: 20px;
}
.jumbotron a {
  color: #ecf0f1;
}
.jumbotron h1 {
  line-height: 100px;
  margin: 0;
}
.jumbotron h1 a {
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 14px;
  text-decoration: none;
}
.jumbotron h1 a:hover {
  text-decoration: none;
}
.jumbotron .container {
  position: relative;
}
.jumbotron .nav-container {
  font-size: 16px;
  line-height: 100px;
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 0;
}
.jumbotron .nav-container .navigation {
  background: rgba(0, 0, 0, 0.7);
  display: inline;
  padding: 3px 7px;
}
.jumbotron .nav-container .navigation li {
  display: inline-block;
}
.jumbotron .nav-container .navigation li:after {
  content: '/';
  padding: 0 10px;
}
.jumbotron .nav-container .navigation li:last-child:after {
  content: none;
  padding: 0;
}
.member-callout {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
.member-callout li {
  display: inline-block;
}
/* Content ******/
.content {
  margin-bottom: 40px;
}
/* Event List Details ******/
.event-list .info-widget .calendar {
  background: #fdfdfd;
  height: 86px;
}
.event-list .info-widget .calendar .month,
.event-list .info-widget .calendar .year {
  font-size: 0.95em;
  font-variant: small-caps;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  text-align: center;
  text-transform: lowercase;
}
.event-list .info-widget .calendar .month {
  background: #ec7063;
  color: #fdfdfd;
}
.event-list .info-widget .calendar .day {
  font-size: 2em;
  font-weight: bold;
  height: 42px;
  line-height: 47.5px;
  text-align: center;
}
.event-list .info-widget .time,
.event-list .info-widget .location {
  font-weight: bold;
  margin-top: 4px;
}
/* Footer ******/
/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */

  margin: 0 auto -180px;
}
/* Set the fixed height of the footer here */
.push,
.footer {
  height: 180px;
}
.footer {
  background-color: #34495e;
  color: #ecf0f1;
  height: 140px;
  padding: 20px 0;
}
.footer h1,
.footer h2 {
  margin: 0 0 10px;
}
.footer h1 a,
.footer h2 a {
  text-decoration: none;
}
.footer a {
  color: #fdfdfd;
}
.footer .navigation {
  list-style-type: none;
}
.footer .copyright {
  color: #6285a8;
  margin-top: 10px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
