/* Colors ******/
/* Intro ******/
#intro {
  margin-bottom: 30px;
}
/* Event List ******/
#events {
  margin-bottom: 30px;
}
#events h2 {
  margin-bottom: 20px;
}
#events .event-list {
  list-style-type: none;
  margin: 0;
}
#events .event-list li {
  margin-bottom: 40px;
}
#events .event-list li h3 {
  line-height: 1.2em;
}
#events .event-list .time {
  margin-top: 13px;
  width: 80px;
}
#events .event-list .about {
  width: 440px;
}
/* Sponsor List ******/
#sponsors h2 {
  margin-bottom: 20px;
}
#sponsors .sponsors {
  list-style-type: none;
  margin: 0;
}
#sponsors .sponsors li {
  margin-bottom: 10px;
}
