/* Colors ******/
.content h2 {
  font-family: 'Droid Serif', Georgia, Times, serif;
}
/* Intro ******/
#intro {
  margin-bottom: 50px;
}
/* Event List ******/
#events {
  margin-bottom: 50px;
}
#events .event-list {
  list-style-type: none;
  margin: 0;
}
#events .event-list li {
  margin-bottom: 40px;
}
#events .event-list li h3 {
  line-height: 1.2em;
}
#events .event-list .details {
  margin-top: 13px;
  width: 80px;
}
#events .event-list .about {
  width: 440px;
}
/* Sponsor List ******/
#sponsors .sponsors {
  list-style-type: none;
  margin: 0;
}
#sponsors .sponsors li {
  margin-bottom: 10px;
}
