{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="span12">
      <article id="{{ entry.slug }}" class="blog-entry">
        <h2>{{ entry.title }}</h2>
        <ul class="blog-info">
          <li>
            <i class="icon-calendar"></i>
            <time datetime="{{ entry.published.isoformat() }}">
              {{ entry.published|date('F jS, Y') }}
            </time>
          </li>
          <li>
            {{ gravatar_img(entry.author, size=16) }}
            {{ entry.author.get_full_name() }}
          </li>
        </ul>
        {{ entry.summary }}
        {{ entry.content }}
      </article>

      <ul class="pager">
        <li class="previous {% if not newer_entry %}disabled{% endif %}">
          <a href="{{ newer_entry.get_absolute_url() if newer_entry }}">&larr; Newer</a>
        </li>
        <li class="next {% if not older_entry %}disabled{% endif %}">
          <a href="{{ older_entry.get_absolute_url() if older_entry }}">Older &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
