{% extends 'base.html' %}

{% block content %}
  <article id="about">
    <h2>We serve the coders, hackers, and founders of Melbourne, FL.</h2>
    <p>
      TrepHub is a non-profit organization dedicated to growing the technology and entrepreneur community in Melbourne, Florida. Our mission is to help build and grow the technology startup ecosystem on the Space Coast. We do this through our efforts in fostering community events, providing infrastructure, and promoting education.
    </p>

    <section id="initiatives" class="row initiatives">
      <div class="span4">
        <div class="symbol">
          <img src="{{ static('img/community.png') }}">
        </div>
        <h4>Community</h4>
        <p>We organize speaker events, open discussions, hackathons, and other events to foster discussion and collaboration among the community.</p>
      </div>
      <div class="span4">
        <div class="symbol">
          <img src="{{ static('img/infrastructure.png') }}">
        </div>
        <h4>Infrastructure</h4>
        <p>We provide and maintain a shared workspace for individuals and businesses to use. We also use the space to host most of our community events.</p>
      </div>
      <div class="span4">
        <div class="symbol">
          <img src="{{ static('img/education.png') }}">
        </div>
        <h4>Education</h4>
        <p>We gather resources to enable anyone to educate themselves, as well as organize classes and enable the spread of knowledge among our community.</p>
      </div>
    </section>

    <section id="story">
      <h3>Our Story</h3>
      <p>
        TrepHub started off as a small lunch meetup for people interested in technology and startups. At the time, there wasn't much in terms of an active technology community in Melbourne, despite the amount of talent in the area. We held a few hackathons and kept up the lunch meetings, but it was clear that there was demand for something more.
      </p>
      <p>
        We came up with three initiatives to focus on: community, infrastructure, and education. We started with infrastructure, as that would provide a space to support the other two intiatives. After a few experiments, we launched the TrepHub workspace in Downtown Melbourne. At the same time, we also began our monthly speaker series, which drew talented speakers from the community to give interesting talks on a variety of subjects.
      </p>
      <p>
        People took notice. Since then, we've moved to a larger space, supported several local startups via our workplace, received donations to help fund our events, and met tons of new people as the community has grown.
      </p>
    </section>

    <section id="location">
      <h3>Location</h3>
      <div class="row">
        <div class="span6">
          <div class="adr">
            <div class="name">TrepHub</div>
            <div class="street-address">907 East Strawbridge Avenue</div>
            <div><span class="locality">Melbourne</span>, <span class="region">FL</span> <span class="postal-code">32901</span></div>
          </div>
          <p><strong>Parking:</strong> There are a small amount of parking spaces available to TrepHub members in our building's parking lot. There is public parking available across the street next to the parking garage for short periods of time, and longer-term parking available in the lot across the train tracks on the other side of the street.</p>
        </div>
        <div class="span6">
          <iframe width="460" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=907+East+Strawbridge+Avenue,+Melbourne,+FL&amp;aq=0&amp;oq=907+East+Straw&amp;sll=27.698638,-83.804601&amp;sspn=23.381081,47.878418&amp;ie=UTF8&amp;hq=&amp;hnear=907+E+Strawbridge+Ave,+Melbourne,+Florida+32901&amp;t=m&amp;ll=28.088489,-80.60523&amp;spn=0.026503,0.039482&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=907+East+Strawbridge+Avenue,+Melbourne,+FL&amp;aq=0&amp;oq=907+East+Straw&amp;sll=27.698638,-83.804601&amp;sspn=23.381081,47.878418&amp;ie=UTF8&amp;hq=&amp;hnear=907+E+Strawbridge+Ave,+Melbourne,+Florida+32901&amp;t=m&amp;ll=28.088489,-80.60523&amp;spn=0.026503,0.039482&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
      </div>
    </section>

    <section id="attributions">
      <h3>Attributions</h3>
      <p>Thanks to the following resources for helping us make this website:</p>
      <ul>
        <li><a href="http://thenounproject.com/noun/community/#icon-No288" target="_blank">Community</a> from The Noun Project.</li>
      </ul>
    </section>
  </article>
{% endblock %}
