/* Header **********/

.jumbotron {
    background: #CCC;
    margin-bottom: 20px;
}

.member-callout {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.member-callout li {
    display: inline-block;
}
