@import "variables";


.content h2 {
    font-family: 'Droid Serif', Georgia, Times, serif;
}

/* Intro ******/
#intro {
    margin-bottom: 50px;
}


/* Event List ******/
#events {
    margin-bottom: 50px;

    .event-list {
        list-style-type: none;
        margin: 0;

        li {
            margin-bottom: 40px;

            h3 {
                line-height: 1.2em;
            }
        }

        .details {
            margin-top: 13px;
            width: 80px;
        }

        .about {
            width: 440px;
        }
    }
}


/* Sponsor List ******/
#sponsors {
    .sponsors {
        list-style-type: none;
        margin: 0;

        li {
            margin-bottom: 10px;
        }
    }
}
