@import "variables";


/* Intro ******/
#intro {
    margin: 20px 0 50px;
}


/* Event List ******/
#events {
    margin-bottom: 50px;

    ul {
        list-style-type: none;
        margin: 0;

        li {
            margin-bottom: 10px;

            h3 {
                line-height: 1.2em;
            }
        }

        .about {
            margin-left: @datetime-calendar-width + 10px;
        }

        .datetime-calendar {
            float: left;
            margin-top: 13px;
        }
    }
}
